<div class="lk_pushshoping">
    <div class="add-t-link">
        <ul class="container" style="position: relative">
            <li style="position: absolute;top: 50%;left: 2%;">
                <a href="#">首页</a>
                <i class="fa fa-edge" aria-hidden="true"></i>
            </li>
            <li style="position: absolute;top: 50%;left: 7%;">
                <a id="addshop-top-block" href="#">添加商品</a>
            </li>
        </ul>
    </div>
    <div class="add-shoping container" ng-app="createApp" ng-controller="createController">
        <div class="row">
            <div class="addshop-top col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="addshop-title">
                    <h2 class="red-weight">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        上传商品信息
                    </h2>
                </div>
            </div>
        </div>

        <div class="addshop-main ">
            <form action="" name="createForm" method="post" ng-submit="postForm()">
                <div class="add-mod row">
                    <div class="add-mod-left col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="shop-type">
                            <h2>商品的分类</h2>
                            <div class="shop-type-index">
                                <select name="category" id="" ng-model="formData.category">
                                    <% categorys.forEach(function(category,index){ %>
                                    <option value="<%= category[0]%>"><%= category[1] %></option>
                                    <% }) %>
                                </select>
                                <!--错误提示信息-->
                                <div class="shop-note">
                                    <span class="font-alert">请记得选择商品类型后再进行下一步</span>
                                </div>
                            </div>
                        </div>

                        <div class="shop-name">
                            <h2>商品的名称</h2>
                            <div class="shop-value-input">
                                <input type="text" placeholder="商品的名称..." class="form-control" name="shopname"
                                       ng-model="formData.shopname" ng-minlength="1" ng-maxlength="50" required>
                                <div class="shop-note">
                                <span ng-cloak class="font-alert" ng-show="createForm.shopname.$invalid && !createForm.shopname.$pristine">
                                    这个名字的长度不符合</span>
                                </div>
                            </div>
                        </div>

                        <div class="shop-describe">
                            <h2>商品的描述</h2>
                            <div class="shop-value-input">
                                <input type="text" placeholder="商品的描述..." class="form-control" name="describe"
                                       ng-model="formData.describe" ng-minlength="1" ng-maxlength="40" required>
                                <div class="shop-note">
                                    <span ng-cloak class="font-alert" ng-show="createForm.describe.$invalid && !createForm.describe.$pristine">
                                        我建议你得填写一些描述来使你的商品获得更多的关注。当然,太多的描述会占据太多的版块,网站的布局并不支持你这么做</span>
                                </div>
                            </div>
                        </div>

                        <div class="shop-value">
                            <h2>商品的价格 <i class="fa fa-jpy" aria-hidden="true"></i></h2>
                            <div class="shop-value-input">
                                <input type="number" placeholder="商品的价格..." class="form-control" name="price"
                                       ng-model="formData.price" ng-minlength="1" ng-maxlength="20" required
                                style="">

                                <div class="shop-note">
                                <span ng-cloak ng-show="createForm.price.$invalid && !createForm.price.$pristine"
                                      class="font-alert">请输入纯数字</span>
                                </div>
                            </div>
                        </div>

                        <div class="shop-value">
                            <h2>商品的重量 <span class="gray-small font-alert">请注意标明单位</span></h2>
                            <div class="shop-value-input">
                                <input type="text" placeholder="商品的重量..." class="form-control" name="weight"
                                       ng-model="formData.weight" ng-minlength="1" ng-maxlength="20" required>
                                <div class="shop-note">
                                <span ng-cloak ng-show="createForm.weight.$invalid && !createForm.weight.$pristine"
                                      class="font-alert">并不支持重于500kg的商品</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="side-bar add-mod-right col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <dl>
                            <dt class="pull-left text-center side-bar-top">
                            <div class="kv-avatar">
                                <div class="file-loading">
                                    <input id="pictures" name="pictures" type="file" target="<%= user.avatar %>" required>
                                </div>
                            </div>
                            </dt>
                            <dd style="width:200px;" class="pull-left text-center side-bar-font">
                                <h2 class="font-big gray-weight">上传实物图</h2>
                                <p>支持jpg、gif、png等格式的图片(其他的图片格式不支持)</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="mod-footer-sub clearfix col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button type="submit" class="btn btn-large btn-success text-center"
                                ng-disabled="createForm.$invalid">发表</button>
                        <div id="kv-avatar-errors-2" class="center-block text-center" style="width:800px;display:none">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/plugins/fileinput/css/fileinput.min.css">
<script src="/plugins/fileinput/js/fileinput.min.js"></script>
<script src="/plugins/fileinput/js/locales/zh.js"></script>
<script src="/public/javascripts/controller.js"></script>
<script>
    //新建
    var createApp = angular.module('createApp',[]);
    createApp.controller('createController',($scope,$http)=>{
        //数据
        $scope.formData = {
            category:'phone',
        };
        $("#pictures").fileinput({
            overwriteInitial: true,
            uploadUrl:'/shop/updateImage',
            maxFileSize: 1500,
            showClose: false,
            showCaption: false,
            showBrowse: false,
            browseOnZoneClick: true,
            removeLabel:'',
            removeIcon:'<i class="glyphicon glyphicon-remove"></i>',
            removeClass:'btn btn-danger',
            removeTitle:"取消或重置更改",
            uploadLabel:'',
            uploadClass:'btn btn-success',
            uploadIcon:'<i class="glyphicon glyphicon-arrow-up"></i>',
            msgErrorClass:'alert alert-block alert-danger',
            elErrorContainer:'kv-avatar-errors-2',
            layoutTemplates:{main2:'{preview}' + '{browse}'},
            language: "zh",
            allowedFileExtensions: ["jpg", "png", "gif"],
            defaultPreviewContent:'<img src="/images/default.jpg">'
        }).on('fileuploaded',function(event,data,previewId,index){
            console.log(data.response.url.replace('public',''));
            $scope.formData.pictures = data.response.url.replace('public','')
        });
        //这是一个表单提交行为
        $scope.postForm = ()=>{
            console.log($scope.formData)
            //发送
            $http({
                method:'POST',
                url:'/shop/add',
                data:$.param($scope.formData),
                headers:{'Content-Type':'application/x-www-form-urlencoded'}
            }).then(data=>{
                console.log(data.data);
                if(typeof data.data === 'object'){
                    console.log(data.data.url)
                        window.location.href = data.data.url;
                }else{
                    $scope.error  = data.data;
                    $('#errorbox').fadeIn();
                    setTimeout(function(){
                        $('#errorbox').fadeOut();
                    },1000)
                }
            }).catch(err=>{
                console.log(err);
            })
        }
    })

</script>